* {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100vh;
}
.centro {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
input::placeholder {
  text-align: center;
}
input {
  margin-top: 10px;
  width: 98%;
  height: 50px;
  margin-bottom: 10px;
  background-color: #fffbe7;
  border: 1px solid #cdccc7;
  border-radius: 5px;
  font-size: 18px;
  color: grey;
}
button {
  border: 1px solid #cdccc7;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  background-color: #dadada;
  font-size: 17px;
  color: grey;
  margin: 5px;
}
.entrada:disabled {
  border: 1px solid #cdccc7;
  background-color: #dadada;
  font-size: 14px;
}
.entrada:enabled {
  border: 1px solid #28dc92;
  background-color: #28dc92;
  font-size: 14px;
  color: white;
}

button:disabled {
  border: 1px solid #cdccc7;
  background-color: #dadada;
}
.pagamento:enabled {
  border: 1px solid #a769b2;
  background-color: #a769b2;
  color: white;
}
.saida:enabled {
  border: 1px solid #a769b2;
  background-color: white;
  color: #a769b2;
}
.historico {
  margin-top: 10px;
  font-size: 15px;
}
.topo {
  width: 100vw;
  height: 100px;
  background-color: turquoise;
  position: fixed;
}
.Link {
  border-bottom: 3px solid turquoise;
  width: 49%;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: turquoise;
}
.Page {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.teste {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
h2 {
  color: turquoise;
}
.outrobutton {
  background-color: #a769b2;
  color: white;
}
.confirmar {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading {
  margin-top: 50px;
  animation: is-rotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 6px solid grey;
  border-top-color: blue;
  border-radius: 50%;

}
@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}